h1 {
	font-size: 100px;
	font-family: Century Gothic, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-size: 40px;
  font-family: Century Gothic, sans-serif;
  margin-top: 0px;
}

h3 {
  font-family: Century Gothic, sans-serif;
  font-size: 25px;
}

body {
	width: 50%;
	background-image: url(https://i.imgur.com/KOf8q5i.png);
	background-repeat: no-repeat;
	background-size: cover;
}
button {
  -webkit-border-radius: 42;
  -moz-border-radius: 42;
  border-radius: 42px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #d93434;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 5px;
  border: 0;

  cursor: pointer;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#quiz-choices-ul {
  list-style-type: none;
}

#climber {
  visibility: hidden;
  width: 120px;
  height: 120px;
  position: absolute;
  background-image: url("../assets/summitwaechter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


#climber.first {
  visibility: visible;
  bottom:  120px;
  right:   0px;
}

#climber.second {
  visibility: visible;
  bottom:  160px;
  right:   45px;
}

#climber.third {
  visibility: visible;
  bottom:  230px;
  right:   120px;
}

#climber.fourth {
  visibility: visible;
  bottom:  325px;
  right:   200px;
}

#climber.fifth {
  visibility: visible;
  bottom:  410px;
  right:   310px;
}

#climber.sixth {
  visibility: visible;
  bottom:  465px;
  right:   410px;
}

#endgame {
  display: none;
   margin: 0 auto;
   text-align: center;
}

.endtitle {
  text-align: center;
}

#instructions {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background: #7f7f7f;
  background: rgba(255,255,255,0.5);
}

.endmessage {
  font-size: 28px;
  font-family: Century Gothic, sans-serif;
}











